body{
background-color: #bbb9f4;
}

h2{
font-family: Arial, sans-serif; 
}
  
img{ 
    width: 60vh; 
    height: auto; 
}

h4{
color: #1d199f;
}

body{
  font-family: Georgia, serif;
  color: black;
  height: 100vh;
  margin: 40vh;
  place-items: right;
}